.lable {
    display: block;
    margin-bottom: 20px;
    color: gray;
    font-weight: 500;
    font-size: 20px;
}

.contact_inp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
    border: 1px solid rgba(60, 91, 57, 0.2);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.sabmit_contact {
    font-size: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(55, 119, 28);
    border: 1px;
    border-radius: 5px;
    color: white;
    transition: all, 500ms;
    margin-bottom: 15px;
}

.sabmit_contact:hover,
.sabmit_contact:focus {
    opacity: 1;
    transform: scale(1.1);
}